*{
    box-sizing: border-box;
}

body {
    background-color: #FFF7FB;
    color: #4B4453;
    font-family: 'Segoe UI', sans-serif;

    overflow-x: hidden;
}

fieldset {
    background-color: #FFFFFF;
    border: 2px solid #D8CBE6;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;

    min-width: 0;
}

legend {
    color: #7C5C8E;
    font-weight: bold;
}

input, select {
    background-color: #F8F1FC;
    color: #7C5C8E;
    
    border: 1px solid #D8CBE6;
    border-radius: 8px;
    padding: 0.3rem;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid #CDA4DE;
    box-shadow: 0 0 5px #CDA4DE;
}

select {
    cursor: pointer;
}

button {
    background-color: #CDA4DE;
    border: none;
    color: white;
    
    border-radius: 8px;
    padding: 0.5rem 1rem;
    
    cursor: pointer;
}

button:hover{
    background-color: #B689C8;
}

#uploadImagem{
    width: 100%;
    min-width: 0;
}

#uploadImagem::file-selector-button {
    background-color: #CDA4DE;
    color: white;
    border: none;
    
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#uploadImagem::file-selector-button:hover{
    background-color: #B689C8;
}

input[name="redesSociais"]{
    accent-color: #CDA4DE;
}

.oculto {
    display: none;
}

#mensagemErroPadrao, #conteudo, #mensagemErro {
    color: red;
    margin-top: 10px;
}

#questao2 {
    margin: 1em 0em 0em 0em;
}

.bloco {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#qtdInteracoes, #qtdVisualizacoes {
    width: 15%;
}

#carregarImagem{
    width: fit-content;
}

.container {
    display: none;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#listaHash {
    height: 8rem;
    width: 50%;

    margin-top: 0.3rem;
}

#ativosDisponiveis, #carteiraInvestimentos {
    height: 15rem;
    width: 15rem;
}

.buttons button {
    height: 25%;
    width: 50%;
}

img{
    max-width: 100%;
}

#imgSelecionada{
    opacity: 1;
    transition: opacity 0.4s ease;
}

@media (max-width: 768px){
    .container2{
        flex-direction: column;
    }

    #ativosDisponiveis, #carteiraInvestimentos{
        width: 100%;
        max-width: 15rem;
    }

    .buttons{
        display: flex;
        flex-direction: row;
    }
}