.oculto {
    display: none;
}

#mensagemErroPadrao, #conteudo {
    color: red;
    margin-top: 10px;
}

p{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#questao2 {
    margin: 1em 0em 0em 0em;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

#questao3, #questao4 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#qtdInteracoes, #qtdVisualizacoes {
    width: 15%;
}

#carregarImagem {
    width: fit-content;
}

.container {
    display: none;
}
