:root {
  --fundo: #F3F4F6;
  --titulo: #1F2937;
  --texto: #374151;
  --roxo-principal: #7C3AED;
  --roxo-claro: #C4B5FD;
  --separador: #E5E7EB;
}

body{
    background-color:var(--fundo);
    font-family: Arial;
    margin: 1rem;
    color: var(--texto);
}

h1{
    background-color: #d6cbff;
    text-align: center;
    color: var(--titulo);
    font-size: 3rem;
    letter-spacing: .5rem;
    border-radius: 10px;
}

h2 {
    color: var(--titulo);
    font-size: 1.5em;

    background-color: #EDE9FE;
    border-left: 5px solid #7e5cec;

    padding: 8px;
    border-radius: 8px;
    margin-bottom: 0;
    display: inline-block;
}

h3 {
    font-weight: normal;
}

.destaque {
    background: linear-gradient(to top, var(--roxo-claro) 50%, transparent 50%);
    border-radius: 5px;
}

h4{
    font-weight: normal;
}

.autor {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: .8rem;
    
    background-color: var(--roxo-claro);
    text-align: right;

    border-radius: 2px;
}

.separador {
    text-align: center;
    color: var(--roxo-principal);
    
    margin: 0;
}


.texto-aleatorio {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    text-align: justify;
    letter-spacing: 1.5;

}

.recomendacao-site, .link-fonte{
    color: #7e5cec;
    text-decoration:underline;
}

.fonte-Playfair-Display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.negrito700{
    font-weight: 700;
}

.negrito900{
    font-weight: 900;
}

.fonte-Playfair-Display li::marker{
    content: "➡ ";
}

.roboto-flex-inclinacao {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.inclinacao10deg{
    font-style: oblique 10deg;
}

.inclinacao20deg{
    font-style: oblique 20deg;
}

.galeria-imgs{
    justify-content: center;
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}

.img-teste{
    width: 300px;
}

.img-picture-teste img{
    width: 300px;
}

ol{
    color: #e5e7eb;
    list-style-position: inside;
    max-width: 400px;
    margin: auto;
}

.li-favorito{
    background: #374151;
    border-radius: 12px;
    padding: 14px 18px;
    margin: 12px 0;
    transition: 0.2s;
}

.li-favorito:hover {
    transform: translateX(6px);
    background: #4b5563;
}

.li-favorito:first-child::before{
    content: "🏆 ";
}

.lista-aninhada{
    list-style-type: decimal-leading-zero;
    color: black;
    list-style-position: outside;
}

.li-principal{
    background: #9f74b6;
    border-left: 6px solid #855dc1;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 12px 0;
}

.titulo{
    font-weight: bold; 
}

.li-principal:hover{
    transition: 0.2s;
    transform: scale(1.05);
    background: #855dc1;
}

.li-principal ul{
    list-style-type: "🎯 ";
}

.riscar{
    text-decoration: line-through;
}

.li-principal ul li{
    padding: 3px;
}

nav a{
    text-decoration: none;
    color: var(--texto);
    display: inline-block;
    transition: 0.3s ease, color 0.3s ease;
    
    padding: 5px;

    transition: border-left 0.1s ease;
}

nav a:hover {
    font-weight: bold;
    font-size: large;
    color: var(--roxo-principal);
    text-decoration: underline;
    
    transform: translateX(6px);
    border-left: 3px var(--roxo-principal) solid;
}

nav {
    border: var(--roxo-claro) solid;
    border-radius: 2rem;
    width: 650px;
    padding: 3px 0px 3px 10px;
}

nav ul{
    padding-left: 15px ;
    list-style-type:none;
    margin-top: 15px;
}

.titulo-menu{
    color: var(--titulo);
    width: 65px;
    margin-bottom: 2px;
    border-bottom: var(--roxo-claro) solid;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%
}

button {
    background-color: var(--roxo-claro);
    border-color: #7e5cec;
    border-radius: 8px;

    width: 8rem;
    height: 2rem;
}